:root {
    --bs-success: #60a73b;
    --bs-success-rgb: rgb(96, 167, 59);
}

.btn-xl {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    border-radius: 15px;
    font-weight: 700;
    text-align: center;
}
.btn-lg {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    border-radius: 25px;
}
.btn-info {
    background-color: #84c5c6;
    border-color: rgb(96, 96, 96);
}
.btn-s {
    border-radius: 25px;
}
.btn-success {
    background-color: #60a73b;
    color: rgb( 43, 82, 16);
}
.btn-warning {
    background-color: rgb( 226, 162, 44);;
    color: rgb( 224, 97, 46);
    border-color: rgb( 224, 97, 46);
}
.btn-info.btn-xl {
    color: rgb( 31, 41, 131);
}
.textbox {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    margin-bottom: 18px;
    background-color: #f0f0f0;
    border-color: rgb(96, 96, 96);
}

header {
    margin-top: 18px;
    margin-left: 15px;
}
header a {
    color: black;
    text-decoration: none;
}

#main-index {
    padding:80px;
    height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main.data {
    padding-top: 50px;
}

.form-data {
    background-color: #e4e4e4;
    border-radius: 25px;
  
}

.form-data hr {
    margin:0;
    color: #a9a9a9;
}

.bg-success {
   background-color:  #60a73b;
}



.form-data-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding:12px 25px;

}
.form-check-input {
    width: 4em !important;
    height: 1.7em;
}

#logo-main img {
    height: 150px;
}
#logo-main h1 {
    color: #60a73b;
    font-weight: 700;
}

#logo-home img {
    height: 60px;
}
#logo-home h1 {
    color: #60a73b;
    font-weight: 700;
}
#logo-home {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-bottom: 40px;
}

#main{
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}
#logo-login img {
    height: 90px;
}

#logo-login h1 {
    color: #60a73b;
    font-weight: 700;
}
.have-account{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-charge{
    width:4em;
    text-align: right;
    border-radius: 15px;
    padding-right: 10px;
}
